{% extends 'partials/base.html.twig' %}
{% block content %}
<article class="post-2 page type-page status-publish hentry">
  <header class="entry-header">
    <h1>{{ form.message }}</h1>
  </header>
  <div class="entry-content">
    <p>Here is the summary of what you wrote to us:</p>

    {{ content }}

    {% include "forms/data.html.twig" %}

  </div>
</article>
{% endblock %}
